:root {
  --primary-color: #187163;
  --primary-color-acc-1: #8cb8b1;
  --primary-color-acc-2: #d8e2df;
  --sec-color: #fea800;
  --sec-color-acc-1: #feecc9;
  --sec-color-acc-2: #fff8eb;
  --border-color: #e4e4e4;
  --text1: #000000;
  --text2: #212328;
  --text3: #555555;
  --text4: #858585;
  --library-expand: #f6f6f6;
  --white: #ffffff;
  --delete-color: #d64545;
  --delete-color-acc-1: #F2C8C6;
  --info-color: #78909c;
  --gradient-color: linear-gradient(45deg, #ff3c00, #7a00ff);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
